#history-calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: sans-serif;
}
.calendar-cell {
  border: 1px solid #ddd;
  padding: 6px;
  background: #f9f9f9;
}
.calendar-date {
  font-weight: bold;
  margin-bottom: 4px;
}

.today {
  color: #114c9d;
}

.calendar-event {
  font-size: 0.8em;
  background: #ddd;
  padding: 8px;
  border-radius: 4px;
  margin-top: 6px;
}

.conflict {
  background: #dd000055;
}

.ellipsis-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: keep-all;
  cursor: pointer;
}
